.card {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 950px;
    height: 400px;

    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    
    display: flex;
    align-items: center;
}

.left {
    width: 300px;
    height: 100%;
    padding-right: 50px;
    display: flex;
    align-items: center;
}

.logo {
    width: 100%;
}

.right {
    width: 550px;
    height: 100%;
}

.sponsors {
    position: absolute;
    top: 90%;
    left: 50%;

    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);


    width: 60%;
    height: 100px;
    display: flex;
    align-items:center;

    margin: 10px 15px;
    overflow: auto;

    margin-top: 20px;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: space-around;

    // > img {
    //     margin: 20px 30px;
    //     flex-flow: row wrap;
    //     justify-content: space-around;    
    // }
    .aptiv {
        margin-top: 5px;
        height: 18px;
    }
    .bloomberg {
        margin-top: 15px;
        height: 26px;
    }
    .echoar {
        margin-top: 20px;
        height: 40px;
    }
    .microsoft {
        margin-top: 15px;
        height: 36px;
    }
    .sandia {
        margin-top: 15px;
        height: 45px;
    }
    .scm {
        margin-top: 5px;
        height: 60px;
    }
}

.acm-msg {
    margin-bottom: 5px;
    color: #ffffff;
}
.scotty-msg {
    margin-bottom: 40px;
    color: #ffffff;
}

.wide-top {
    margin-top: 10px;
}

.blur {
    filter: blur(4px);
}

@media only screen and (max-width: 900px) {
    .card {
        flex-direction: column;
        width: auto;
        height: auto;
        padding: 10px;
    }
    .left {
        width: 300px;
        height: auto;
        padding: 0px;
        margin-bottom: 20px;
    }

    .right {
        width: 520px;
        height: auto;
    }
    .sponsors {
        margin: 80px;
        display: none;
    }
}

@media only screen and (max-width: 550px) {
    .left {
        width: 200px;
    }
    .right {
        width: 305px;
    }
    .sponsors {
        display: none;
    }
}

@media only screen and (max-width: 400px) {
    .right {
        width: 305px;
    }
    .sponsors {
        display: none;
    }
}
